[submodule "GameEngine/GameEngine/ThirdParty/spdlog"]
	path = GameEngine/GameEngine/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GameEngine/GameEngine/ThirdParty/GLFW"]
	path = GameEngine/GameEngine/ThirdParty/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "GameEngine/GameEngine/ThirdParty/ImGui"]
	path = GameEngine/GameEngine/ThirdParty/ImGui
	url = https://github.com/TheCherno/imgui
[submodule "GameEngine/GameEngine/ThirdParty/GLM"]
	path = GameEngine/GameEngine/ThirdParty/GLM
	url = https://github.com/g-truc/glm
